{
    "type": "mysql",
    "host": "localhost",
    "port": "3306",
    "username": "root",
    "password": "",
    "database": "codemymobile",
    "synchronize": false,
    "logging": true,
    "entities": ["dist/**/*.entity{.ts,.js}"],
    "seeds": ["src/database/seeds/*.ts"],
    "migrations": ["./dist/database/migrations/*.js"],
    "cli": {
        "entitiesDir": "src",
        "migrationsDir": "./src/database/migrations"
    }
}